

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.bar-nav li{
	float: left;
	
}
.bar-nav li a {
	display: block;
	padding: 14px 16px;
	color: white;
	text-align: center;
	
	text-decoration: none;
}
#bienvenido{
	float: right !important;
	color: #66ccff;
}
.bar-nav li a:hover{
	background-color: #111;
}